
services:
  db:
    container_name: db
    image: mysql:8.0
    env_file: .env
    restart: unless-stopped
    environment:
      - MYSQL_DATABASE=wordpress
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network

  wordpress:
    depends_on:
      - db
    container_name: wordpress
    image: wordpress:6.8.2-php8.1-fpm-alpine
    restart: unless-stopped
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: $MYSQL_USER
      WORDPRESS_DB_PASSWORD: $MYSQL_PASSWORD
      WORDPRESS_DB_NAME: wordpress
    command: ["/scripts/wait-for.sh", "db:3306","--strict","--timeout=120","--","/usr/local/bin/docker-entrypoint.sh","php-fpm"]
    volumes:
      - wordpress:/var/www/html
      - ./scripts:/scripts
      - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini

    networks:
      - app-network    

  webserver:
    depends_on:
      - wordpress
    container_name: webserver
    # image: nginx:1.27.0-alpine
    restart: unless-stopped
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - wordpress:/var/www/html
      - ./nginx-conf:/etc/nginx/conf.d
      - ./scripts:/scripts
    command: ["sh", "-c", "/scripts/wait-for.sh wordpress:9000 --timeout=60 --strict -- nginx -g 'daemon off;'"]
    networks:
      - app-network

volumes:
  wordpress:
  dbdata:

networks:
  app-network:
    driver: bridge


